    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "arial";
    }
    
    .logo img {
        width: 200px;
        display: block;
        margin: auto;
    }
    
    .header {
        margin: 1%;
    }
    
    .nav-left,
    .nav-right {
        background-color: green;
    }
    
    .nav-left ul,
    .nav-right ul {
        list-style: none;
    }
    
    .nav-left a,
    .nav-right a {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: black;
    }
    
    .nav-left a:hover {
        background: rgb(3, 158, 3);
        color: white;
    }
    
    .nav-right a:hover {
        background: rgb(3, 158, 3);
        color: white;
    }
    
    @media screen and (min-width: 560px) {
        .header {
            width: 960px;
            margin: auto;
            display: flex;
            margin-top: 1%;
            justify-content: space-between;
        }
        .nav-left ul {
            display: flex;
        }
        .nav-right ul {
            display: flex;
        }
        .nav-left,
        .nav-right {
            background-color: white;
        }
    }
    /*main*/
    
    .main {
        margin-top: 20px;
    }
    
    .main-left img {
        width: 250px;
        display: block;
        margin: auto;
    }
    
    .main-right {
        text-align: center;
        margin-top: 20px;
    }
    
    @media (min-width: 560px) {
        .main {
            width: 960px;
            margin: auto;
            display: flex;
            margin-top: 30px;
            justify-content: center;
        }
        .main-left img {
            width: 550px;
        }
        .main-right {
            margin: auto;
            text-align: left;
            margin-left: 30px;
        }
        .main-right h2 {
            margin-bottom: 10px;
            font-size: 40px;
            font-family: arial;
        }
        /*isi*/
    }
    
    .display {
        margin-top: 3%;
        text-align: center;
        color: rgb(3, 158, 3);
        padding-top: 5px;
    }
    
    .image img {
        width: 250px;
        display: block;
        margin: auto;
    }
    
    .produk-content {
        text-align: center;
        margin: 20px;
    }
    
    .deskripsi p {
        font-size: 15px;
        padding-top: 5px;
    }
    
    .harga {
        padding-top: 5px;
        margin-bottom: 30px;
    }
    
    @media (min-width: 560px) {
        .produk {
            width: 960px;
            margin: auto;
            display: flex;
        }
        .produk-content {
            height: 300px
        }
        .image {
            height: 200px;
            width: 200px;
        }
        .image img {
            width: 200px;
            display: block;
            margin: auto;
        }
        .display {
            font-size: 30px;
        }
        .harga {
            padding-top: 5px;
        }
    }
    /*info*/
    
    .info {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .icon img {
        width: 50px;
        display: block;
        margin-right: 10px;
    }
    
    .info-content {
        display: flex;
        align-items: center;
        padding: 15px;
        height: 70px;
        width: 180px;
    }
    
    .info-isi h2 {
        font-size: 15px;
    }
    
    .info-isi p {
        font-size: 12px;
    }
    
    @media (min-width: 560px) {
        .info {
            margin-top: 200px;
        }
    }
    /*medsos*/
    
    .medsos {
        margin-bottom: 100px;
    }
    
    .medsos-icon img {
        width: 40px;
    }
    
    .medsos-icon {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
    .medsos-isi {
        margin-top: 80px;
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }
    
    .medsos-form {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .medsos-form form input {
        width: 250px;
        height: 25px;
        background: rgb(209, 252, 189);
        border: none;
        border-radius: 5px;
        margin-right: -4px;
    }
    
    .medsos-form form input[type="email"] {
        padding: 10px;
    }
    
    .medsos-form form button {
        height: 25px;
        padding: 5px;
        text-transform: uppercase;
        background: rgb(209, 252, 189);
        border: none;
        border-radius: 5px;
    }
    
    @media (min-width:560px) {
        .medsos {
            width: 960px;
            margin: auto;
        }
    }
    /*footer*/
    
    footer {
        margin-bottom: 100px;
        display: flex;
    }
    
    .logo-bank img {
        width: 70px;
    }
    
    .identitas {
        flex: 1;
    }
    
    .sitemap {
        flex: 1;
    }
    
    .sitemap li {
        list-style: none;
        padding-top: 10px;
    }
    
    .sitemap li a {
        text-decoration: none;
        color: black;
    }
    
    .payment {
        flex: 1;
    }
    
    .sitemap h2,
    .identitas h2 {
        font-size: 14px;
    }
    
    .identitas p {
        font-size: 12px;
    }
    
    .sitemap a {
        font-size: 12px;
    }
    
    .bank p {
        font-size: 10px;
    }
    
    .bank h3 {
        font-size: 12px;
    }
    
    .bank {
        padding-bottom: 15px;
    }
    
    @media (min-width: 560px) {
        footer {
            width: 960px;
            margin: auto;
            padding-top: 20px;
        }
        .sitemap h2,
        .identitas h2 {
            font-size: 20px;
        }
        .identitas p {
            font-size: 15px;
        }
        .sitemap a {
            font-size: 15px;
        }
    }